<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keehoo.kree.budgetguru"
    android:installLocation="auto">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".activities.MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.UserCreatorActivity" />
        <activity android:name=".rest.GetUser" />
        <activity android:name=".activities.BudgetEntryActivity" />
        <activity
            android:name=".activities.OcrActivity"
            android:label="Read Text" />
        <activity android:name=".activities.OcrResultAnalysisActivity"
            android:theme="@style/Theme.AppCompat.Dialog.Alert"
            />
        <activity android:name=".activities.FullReportActivity" />
        <activity android:name=".activities.LoginActivity"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".activities.LocalDatabaseActivity"
            android:label="@string/title_activity_local_database"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".BudgetEntriesUploader"
            android:exported="false"></service>
    </application>

</manifest>